body {
    background-color: #EBEAEC;
}

/* Navbar Styling */
.navBar {
    display: flex;
    font-size: 3.5rem;
    justify-content: space-between;
}
.openAIWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#openailogo {
    max-width: 2rem;
    max-height: 2rem;
    margin: auto;
}

#openaicaption {
    font-size: 1.3rem;
    margin: auto;
}

